[run]
data_file = .coverage

[report]
omit =  
    *__init__*
    *data*
    *examples*
    *tests*
    *templates*
    *static*
    *performance*
    *preprocessing*
    *json*
    *uploads*
exclude_lines =
    if __name__ == .__main__.:

[html]
directory = coverage_html_report

[xml]
output = coverage.xml

[coveralls]
repo_token = C9YmEALcMYbn3eSfuBIolgCCCFlBU3P3N
